
<div id="container">
  <h2> <%= @tasks.title %> </h2>
  <p>  <%= @tasks.details %> </p>
  <p id="boolean"> Completed: <strong> <%= @tasks.completed %> </strong> </p>

  <p> <%= link_to "Back", tasks_path %> </p>
</div>
